body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.button-container {
    text-align: center;
}

.oval-button {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.oval-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
